@{
    ViewBag.Title = "Reports";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var item in @ViewBag.ReportNames)
{
    if (@item.TypeName == "Report")
    {
        <li>@item.Name</li>
    }
    else if(@item.TypeName == "Folder")
    {
        <li><b>Folder: @item.Name</b></li>
    }
}
<p>Use this area to provide additional information.</p>
